<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <img class="mb-4" id="thumbnail" alt="" width="100%" height="100%">
    <h2 id="time"></h2>
    <script>
        setTimeout(function(){$.ajax({
            url: "/video_downloading",
            type: 'POST',
            success: function(response) {
                console.log(response["url"]);
                console.log("why");
                let hash = tagName(response["url"]);
                location.replace("/video_file/"+hash);
            },
            error: function(error) {
                console.log(error);
            }
        })}, 1000);
        setTimeout(function(){$.ajax({
            url: "/video_downloading/l",
            type: 'POST',
            success: function(response) {
                console.log("...");
                let hash = tagName(response["url"]);
                console.log(hash);
                console.log("...");
                let thUrl = "https://img.youtube.com/vi/"+hash+"/hqdefault.jpg";
                $("#thumbnail").attr("src",thUrl);
                $("#time").html("loading...");
            },
            error: function(error) {
                console.log(error);
            }
        })}, 1000);
        function tagName(url){
            const urlPattern = /(http|https):\/\/(youtu.be\/|www.youtube.com\/watch\?v=)/;
            console.log(typeof url)
            var isa = url.replace(urlPattern,"");
            return isa;
        }
    </script>
</body>
</html>
