<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/loading/loading.css">
</head>
<body>
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div>
    
    <input type="hidden" name="tag" id="3html_ytHashTag" value="{{tag}}">
    <script>
        setTimeout(function(){
            console.log("this???");
            let tag = $("#3html_ytHashTag").val();
            console.log(tag);
            $.ajax({
            url: "/video_downloading",
            type: 'POST',
            data:{
                "tag":tag
            },
            success: function(response) {
                console.log(tag+"downloading...");
                location.replace("/video_file/"+tag);
            },
            error: function(error) {
                console.log(error);
                alert("오류가 발생하였습니다.\nURL과 섬네일을 다시 확인해 주시고\n잠시 후 다시 실행하여 주세요.");
                self.close();
            }
        })}, 1000);
    </script>
</body>
</html>
